@import "normalize";

$primaryColor: rgb(40, 156, 185);
$secondaryColor: rgb(63, 109, 120);
$textColor: rgb(129, 129, 129);
html {
    background-color: #e9e9e9;
    color: $textColor;
}
body {
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator {
    background: white;
    // width: 80%;
    // margin:  40px auto 10px auto;
    // padding: 1em 2em;
    overflow: visible;
    
}
h1 {
    text-align: center;
    font-weight: 300;
}
form {
    border: 1px solid #ccc;
    margin: 2em;
    padding: 1em;
}
.hidden {
    display: none;
}
input[type=button] {
    background: none;
    color: $primaryColor;
    border: 1px solid;
    padding: 10px 1.5em;
    &:hover {
        background: $primaryColor;
        color: white;
        cursor: pointer;
    }
}