// @import "normalize";


$primaryColor: rgb(40, 156, 185);
$secondaryColor: rgb(63, 109, 120);
$textColor: rgb(129, 129, 129);

* {
    box-sizing: border-box;
}
html {
    background-color: $secondaryColor;
    color: $textColor;
}
body {
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#calculator {
    background: rgb(240, 240, 240);
}
h1 {
    text-align: center;
    font-weight: 300;
}
form {
    border-top: 1px solid #ccc;
    background-color: white;
    padding: 2rem;
    // display: flex;
}

.hidden {
    display: none;
}
input {
    margin: 0;
    display: inline;
    padding: 0.6rem 1rem;
    border: 1px solid #ccc;
    &:focus {
        // box-shadow: 0 0 0 3px $primaryColor;
        border-color: $primaryColor;
        outline: none;
    }
}
input[type=button] {
    background: none;
    color: $primaryColor;
    border: 1px solid;
    &:hover, &:focus, &:active {
        background: $primaryColor;
        color: white;
        cursor: pointer;
    }
}
input[type=tel] {
    border-right: none;
}
label {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-right: 1rem;
}